.App {
  text-align: center;
}

.flex-container {
  display: flex;
}

.name {
  width: 300px;
}

.location {
  width: 200px;
}

.phone {
  width: 200px;
}

.rating-review-distance {
  width: 100px;
}

.flex-container-directions {
  display: flex;
  flex-direction: column;
}